{% macro competences(image, alt, id) %}
    <div class="card card-competences mb-3 mx-2 p-1 cardpresent shadow p-3 mb-5 rounded" style="max-width: 100px;">
        <img src="{{ asset('images/' ~ image) }}" class="img-fluid rounded" alt="{{ alt }}">
        <a type="button" class="stretched-link" data-bs-toggle="modal" data-bs-target="{{ id }}"></a>
    </div>
{% endmacro %}

{% macro modalcompetences(title, description, idmodal, image, alt) %}
    <div class="modal fade" id="{{ idmodal }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header backgroundmodal">
                <h1 class="modal-title fs-5 golden">{{ title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="d-flex">
                <div>{{ description }}</div>
                <div><img src="{{ asset('images/' ~ image) }}" class="img-fluid rounded" alt="{{ alt }}" style="max-width: 100px;"></div>
              </div>
            </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro projects(title, image, alt, language, link, description) %}
<div class="card-project">
    <div class="card__image-holder">
      <img class="card__image" src="{{ asset('images/' ~ image) }}" alt="{{ alt }}" />
    </div>
    <div class="card-title-project">
      <a href="#" class="toggle-info btn-project">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2 class="h2-project golden">{{ title }}</h2>
      <p class="h3 golden"><small>{{ language }}</small></p>
    </div>
    <div class="card-flap-project flap1">
      <div class="card-description-project">
        {{ description }}
      </div>
      <div class="card-flap-project flap2">
        <div class="card-actions-project">
          <a href="{{ link }}" target="_blank" class="link-test btn-project-git" onclick="event.stopPropagation();"><strong>lien github</strong></a>
        </div>
      </div>
    </div>
</div>
{% endmacro %}